.logo {
    width: 300px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.locale-container {
    position: absolute;
    right: 0;
    margin: 50px;
}

.locale-container label {
    cursor: pointer;
}

.header {
    background-color: #101010 !important;
    z-index: 99999;
    height: 100px;
}

.container {
    margin-top: 5em !important;
}

h1 {
    letter-spacing: 15px;
    text-transform: uppercase;
}

h5, .caption {
    font-family: Khand,sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: .1em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.company-info-icon {
    font-size: 50px;
}

.caption-label, 
.company-info-container p,
.carousel p  {
    color: #cccccc;
    font-weight: 1;
    font-size: 17px;
}

.welcome-content{
    margin: 5% 2rem 0 2rem;
}

.welcome-carousel {
    height: 40vw;
}

.welcome-carousel h1 {
    color: #8E7861;
    display:flex !important; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    height: 40vw;
}

.welcome-carousel h1 label {
    font-size: 6vw;
}


.group-image {
    display:flex !important;
}

.welcome-carousel .btn {
    margin-top: 50px;
}


.group-image-img {
    height: 35vw !important;
    width: auto !important;
}

.group-image-with-text {
    display:flex !important;
    justify-content: space-evenly; 
    align-items: center;
}

.group-image-with-text p {
    width: 40%;
    font-size: 1.3vw;
}

.portfolio-image,
.carousel {
    margin: 0 2rem;
}

a img {
    width: 100%;    
}

.caption {
    display: block;
    text-align: left;
}

.portfolio-section {
    display: inline-flex;
}

.portfolio-container {
    margin: 0 2rem;
}


.company-info{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.contact-us {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.company-info-container {
    width: 100vw;
    text-align: left;
}

.slick-dots li.slick-active button {
    background: #8E7861 !important; 
}

.slick-dots li {
    margin-inline: 1px !important;
}

.carousel-dots {
    bottom: -10px !important;
}


.title-carousel {
    margin-top:50px;
}

.title-carousel .btn {
    width: 90%;
    background: black;
}

.demo-carousel .btn {
    height: 680px;
}

.demo-carousel .btn img{
    height: 100%;
    width: 100%;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us {
    display: flex;
    flex-direction: column;
}

input,
.ant-input,
.ant-select,
select{
    background-color: #101010 !important;
    border: unset !important;
    border-radius: unset !important;
    font-family: Khand,sans-serif;
    text-transform: uppercase;
    color: #8E7861 !important;
    margin: 10px !important;
    width: 100%;
    min-width: 100%;
    font-size: 20px;
}

select:focus{
    outline: none;
}

select {
    padding-left: 5px;
}

.ant-select-selection-item {
    font-size: 20px;
}

.ant-select-selector {
    background-color: #101010 !important;
    border: unset !important;
    color: #8E7861 !important;
}

.ant-spin {
    color: #8E7861 !important;
}

input::placeholder,
.ant-select-selection-placeholder {
    color: #8E7861 !important;
    font-family: Khand,sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
}

.ant-select-selection-item{
    text-align: left;
}

button {
    font-family: Khand,sans-serif;
    text-transform: uppercase;
    background-color: #8E7861 !important;
    border: unset !important;
    border-radius: unset !important;
}

button:hover {
    border: unset;
    border-radius: unset;
}

.title-carousel-container h1 {
    letter-spacing: unset
}

.ant-float-btn-icon {
    color: white !important;
}

.ant-float-btn-circle,
.ant-float-btn-body {
    border-radius: 50% !important;
    background-color: #8E7861 !important;
}

.ant-float-btn-circle {
    display: none;
}

.ant-modal-mask {
    backdrop-filter: blur(10px);
}

.ant-modal-content,
.ant-modal-header,
.ant-modal-close,
.ant-modal-title {
    background-color: #000000 !important;
    color: #8E7861 !important;
}

.submitted-message {
    letter-spacing: 3px;
}


@media only screen and (max-width: 600px) {
    .locale-container {
        position: absolute;
        right: 0;
        margin: 30px;
    
    }

    .welcome-carousel .btn {
        margin-top: 0;
    }

    .group-image-with-text p {
        font-size: 4px;
        margin: 10px;
    }

    .group-image-img {
        width: 65% !important;
    }

    .portfolio-section {
        display: block;
    }

    .portfolio-container {
        margin: 0;
    }

    .demo-carousel .btn {
        height: 250px;
    }

    .title-carousel-container h1 {
        font-size: 15px;
    }

    .title-carousel-container {
        text-align: center;
    }

    .logo {
        width: 200px;
    }

    .header {
        height: 60px;
    }

    .welcome-carousel h1 {
        font-size: 5vw;
        letter-spacing: 5px;
        height: 30vw;
    }

    .welcome-carousel h1 label {
        font-size: 5vw;
    }

    .welcome-content{
        margin: 19% 2rem 0 2rem;
    }

    
    
}


@media only screen and (min-width: 1900px) {
    .portfolio-container {
        margin: 0 5rem;
    }
}


